body{
    margin: 0;
    padding: 0;
}
.box{
    height: 200px;
    background: #000;
    width: 25%;
}
.box1{
    background: green;
}
.box2{
    background: lightseagreen;
}
.box3{
    background: indigo;
}
.box4{
    background: lightcoral;
}
div .a{
    padding: 5px;
    background: yellow;
    border: 2px solid black;
    width: 100px;
    height: 200px;
    display: inline;
}
div .b{
    padding: 5px;
    background: yellow;
    border: 2px solid black;
    width: 100px;
    height: 200px;
    display: inline-block;
}
div .c{
    padding: 5px;
    background: yellow;
    border: 2px solid black;
    width: 100px;
    height: 200px;
    display: block;
}